:root{
    --main-color:#0078FF
}
body{
    background-color: #f5f5f5;
}
.navbar{
    background-color: black !important;
}
.navbar-nav .nav-link{
    color: white;
    position: relative;
}
.navbar-nav .nav-link::before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 0 !important;
    height: 2px !important;
    background-color: white;
    transition: all 0.5s;
}

.navbar-nav .nav-link.active::before, .navbar-nav .nav-link.show::before,.navbar-nav .nav-link:hover::before {
    width: 75% !important;
}

header{
    background-image: url(../imgs/hero-bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment:fixed ;
}
.layer{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-caption h1{
    font-size: 72px;
    font-weight: 600;
}
.header-caption h2{
    font-size: 40px;
    font-weight: 600;
}

.header-caption h2::after{
    content: "|";
    animation-name:job;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}


@keyframes job {
    0%{content:"|"}
    2.5%{content: "D|";}
    5%{content: "De|";}
    7.5%{content: "Des|";}
    10%{content: "Desi|";}
    12.5%{content: "Desig|";}
    15%{content: "Design|";}
    17.5%{content: "Designe|";}
    20%{content:"Designer|"}
    25%{content:"Designer|"}
    27.5%{content: "Designe|";}
    30%{content: "Design|";}
    32.5%{content: "Desig|";}
    35%{content: "Desi|";}
    37.5%{content: "Des|";}
    40%{content: "De|";}
    42.5%{content: "D|";}
    45%{content:"|"}
    50%{content:"|"}
    52.5%{content:"D|"}
    55%{content:"De|"}
    57.5%{content:"Dev|"}
    60%{content:"Devel|"}
    62.5%{content:"Devel|"}
    65%{content:"Develo|"}
    67.5%{content:"Develop|"}
    70%{content:"Develope|"}
    72.5%{content:"Developer|"}
    75%{content:"Developer|"}
    77.5%{content:"Develope|"}
    80%{content:"Develop|"}
    82.5%{content:"Develo|"}
    85%{content:"Devel|"}
    87.5%{content:"Deve|"}
    90%{content:"Dev|"}
    92.5%{content:"De|"}
    95%{content:"D|"}
    97.5%{content:"|"}
    100%{content:"|"}
}

.skill-word{
    font-size: 18px;
    font-weight: 600;
}
.skill p{
    color: #4e4e4e;
}
.skill .persentage{
    height: 10px;
    width: 100%;
    background-color: #CDE1F8;
}
.html,.css,.js,.react,.nodejs{
    height: 100%;
    background-color: var(--main-color);
}
.html{
    width: 90%;
}
.css{
    width: 75%;
}
.js{
    width: 85%;
}
.react{
    width: 80%;
}
.nodejs{
    width: 90%;
}
.about-me h3{
    position: relative;
    padding-block: 15px ;
    margin-bottom: 30px;
}
.about-me h3::after{
    content: "";
    height: 4px;
    width: 100px;
    background-color:var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
.about-me p{
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 300;
    margin-block: 20px;
}